/* 모바일 퍼스트 */

/* 헤더 */
.header-title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3.2rem;
}

/* 헤더 타이틀 로고 */
.header-title-logo {
    display: block;
    width: 11rem;
    height: 11rem;
    background-image: url(/The-10-000-Hour-Rule/img/clock.png);
    background-size: 11rem 11rem;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 4rem;
    position: relative;
    }

    
    .title-logo {
        width: 27.8rem;
        height: 5.5rem;
        position: absolute;
        top: 25%;
        left: -85%;
        z-index: 100;
    }
/* //헤더 타이틀 로고 */

/* 헤더 텍스트 */
.header-title-description {
    font-family: 'tvN Enjoystories', sans-serif;
    color: #f5df4d;
    font-weight: var(--bold-weight);
    font-size: 2.2rem;
    margin-top: 3.1rem;
}
/* //헤더 텍스트 */

/* //헤더 */


/* 데스크톱 */

/* 헤더 */
@media screen and (min-width: 788px) {
    /* 헤더 갭 변경 */
    .header-title-container {
        gap: 5.2rem;
    }

    /* 헤더 타이틀 로고 사이즈, 마진 변경 */
    .header-title-logo {
        margin-top: 12rem;
        width: 26rem;
        background-size: 22rem;
        height: 22rem;
    }
    .title-logo {
        width: 56.4rem;
        height: 11.2rem;
        left: -65%;
    }

    /* 헤더 텍스트 마진, 폰트 사이즈 변경 */
    .header-title-description {
        font-size: 3.6rem;
    }
}
/* //헤더 */